body {
  font-family: "Roboto", sans-serif;
}
.mycard h5 {
  font-weight: normal;
  font-size: 36px;
  color: #1d1d1d;
  
}
.mycard .card-text {
  font-weight: normal;
  font-size: 14px;
  color: #626262;
}
.mycard .btn{
    color: #FFFFFF;
    font-weight: normal;
    font-size: 13px;
}

.section-menu{
    margin-top: 33px;
}
.section-cads__menu img{
   min-width: 102px;
}
.mycard{
  height: 205px;
}
.footer{
  background: #262626;
}
.form-control{
  border: none;
}
.no-gutters>.col, .no-gutters>[class*=col-]{
  display: flex;
}
.my-input{
  position: relative;
}
.my-input select {
  padding-left: 40px;
  width: 227px;
}
.my-input::before{
  content: url(/icons/world.svg);
  top: 8px;
  position: absolute;
  left: 13px;
}

/* MEDIA QUERRIES */
@media only screen and (max-width:320px){
  .col-lg-6{
    padding-left: 5px;
    padding-right: 5px;
  }
}